<h1>Create</h1>

<a href="#/dash">Go To Polls</a>

<h3>Put the question and options here: </h3>

<form>
	Question: <input type="text" name="" ng-model="q.question"><br>
	Option1: <input type="text" name="" ng-model="q.option1"><br>
	Option2: <input type="text" name="" ng-model="q.option2"><br>
	Option3: <input type="text" name="" ng-model="q.option3"><br>
	Option4: <input type="text" name="" ng-model="q.option4"><br>
	<input type="submit" name="" value="Create Poll" ng-click="createPoll()">
</form>
